.game-header {
  $btn-size: 60px;

  @include column-flexbox;
  width: 100%;

  .game-btn,
  .game-timer,
  .game-score {
    flex-shrink: 0;
    margin-bottom: 8px;
  }

  .game-btn {
    @include flexbox;
    width: $btn-size;
    height: $btn-size;
    font-size: 50px;
    pointer-events: none;
    background-color: $white;
    border: 0;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: transform 150ms ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    &.is-active {
      pointer-events: auto;
      opacity: 1;
      visibility: visible;
    }

    i {
      font-size: 50px;
      pointer-events: none;
    }
  }

  .game-timer,
  .game-score {
    @include flexbox;
    @include text-style(24);
    background-color: rgba($white, 0.4);
    border: 2px solid $black;
  }

  .game-timer {
    width: 100px;
    height: 50px;
    border-radius: 8px;
  }

  .game-score {
    width: $btn-size;
    height: $btn-size;
    border-radius: 50%;
  }

  p {
    @include text-style(16, $white);
    padding: 16px;
    background-color: rgba($black, 0.3);
    border-radius: 8px;
  }
}
